.mBorder {
    width: 42px;
    height: 42px;
    border-radius: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease-in;
    border: 1px solid rgba(255,255,255,0);
    &:hover{
        border: 1px solid rgba(255,255,255,1);
    }
    &:nth-child(2){
        margin: 0 54px;
    }
    &.active{
        border: 1px solid rgba(255,255,255,1);
    }
    .m {
        width: 24px;
        height: 24px;
        border-radius: 12px;
        -webkit-box-shadow: -4px 4px 4px 0px rgba(0,0,0,0.2); 
        box-shadow: -4px 4px 4px 0px rgba(0,0,0,0.2);

        &.gold {
            background: radial-gradient(circle at 35% 35%, rgba(245, 241, 190, 1) 0%, rgba(237, 201, 103, 1) 36%, rgba(210, 172, 71, 1) 68%, rgba(132, 94, 0, 1) 100%);
        }
        &.silver{
            background: radial-gradient(circle at 35% 35%, rgba(255,255,255,1) 0%, rgba(211,211,211,1) 53%, rgba(178,178,178,1) 79%, rgba(131,131,131,1) 100%);
        }
        &.bronce{
            background: radial-gradient(circle at 35% 35%, rgba(255,220,168,1) 0%, rgba(227,165,115,1) 53%, rgba(175,93,24,1) 79%, rgba(140,64,0,1) 100%);
        }
    }
}