.introButton{
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 16px 32px;
    border-radius: 24px;
    margin-bottom: 32px;
    cursor: pointer;
    &.light {
        -webkit-box-shadow: 2px -2px 5px 0px #FFFFFF, inset -2px 2px 2px 0px #FFFFFF, inset 1px -1px 2px 0px #AAAAAA, -2px 2px 2px 0px #AAAAAA;
        box-shadow: 2px -2px 5px 0px #FFFFFF, inset -2px 2px 2px 0px #FFFFFF, inset 1px -1px 2px 0px #AAAAAA, -2px 2px 2px 0px #AAAAAA;
    }

    &.dark {
        -webkit-box-shadow: 4px -4px 8px 0px rgba(255, 255, 255, 0.06), inset -4px 4px 4px 0px rgba(255, 255, 255, 0.06), inset 2px -2px 4px 0px #000000, -4px 4px 8px 0px #000000;
        box-shadow: 4px -4px 8px 0px rgba(255, 255, 255, 0.06), inset -4px 4px 4px 0px rgba(255, 255, 255, 0.06), inset 2px -2px 4px 0px #000000, -4px 4px 8px 0px #000000;
    }
    span{
        width: fit-content;
        height: fit-content;
        font-size: 16px;
        line-height: 16px;
        font-weight: 400;
        &.dark{
            color: #FFFFFF;
        }
        &.light{
            color: #8C8C8C;
        }
    }
}