.desktopInputs {
    width: 70%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: visible;
    .titleInputContainer {
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 18px;
        span {
            font-size: 32px;
            line-height: 32px;
            height: 32px;
            white-space: none;
            width: 306px;
            font-weight: 400;

            &.dark {
                color: #FFFFFF;
            }

            &.light {
                color: #8C8C8C;
            }
        }

        input {
            background: none;
            border: none;
            height: 40px;
            margin-left: 32px;
            font-size: 32px;
            line-height: 32px;
            font-weight: 400;
            width: calc(100% - 338px);
            border-bottom: 2px solid;
            opacity: 0.5;
            padding-bottom: 2px;

            &.dark {
                color: #FFFFFF;
                border-color: #FFFFFF;
            }

            &.light {
                color: #8C8C8C;
                border-color: #8C8C8C;
            }

            &:focus {
                outline: none;
            }
        }
    }

    .descInputContainer {
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        overflow: visible;
        span {
            font-size: 32px;
            line-height: 32px;
            height: 32px;
            white-space: none;
            width: fit-content;
            font-weight: 400;

            &.dark {
                color: #FFFFFF;
            }

            &.light {
                color: #8C8C8C;
            }
        }

        .descInput {
            width: calc(100% - 105px);
            margin-left: 32px;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            border-bottom: 2px solid;
            overflow: visible;
            padding-bottom: 2px;
            &.dark {
                border-color: rgba(255, 255, 255, 0.5);
            }

            &.light {
                border-color: rgba(140, 140, 140, 0.5);
            }

            input {
                background: none;
                border: none;
                height: 42px;
                font-size: 32px;
                line-height: 32px;
                font-weight: 400;
                width: calc(100% - 125px);
                opacity: 0.5;

                &.dark {
                    color: #FFFFFF;

                }

                &.light {
                    color: #8C8C8C;
                }

                &:focus {
                    outline: none;
                }
            }

            .sButton {
                width: fit-content;
                height: 32px;
                border-radius: 16px;
                padding: 0 12px;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: visible;
                user-select: none;
                cursor: pointer;

                &.light {
                    -webkit-box-shadow: 2px -2px 5px 0px #FFFFFF, inset -2px 2px 2px 0px #FFFFFF, inset 1px -1px 2px 0px #AAAAAA, -2px 2px 2px 0px #AAAAAA;
                    box-shadow: 2px -2px 5px 0px #FFFFFF, inset -2px 2px 2px 0px #FFFFFF, inset 1px -1px 2px 0px #AAAAAA, -2px 2px 2px 0px #AAAAAA;
                    color: #8C8C8C;
                }

                &.dark {
                    -webkit-box-shadow: 4px -4px 8px 0px rgba(255, 255, 255, 0.06), inset -4px 4px 4px 0px rgba(255, 255, 255, 0.06), inset 2px -2px 4px 0px #000000, -4px 4px 8px 0px #000000;
                    box-shadow: 4px -4px 8px 0px rgba(255, 255, 255, 0.06), inset -4px 4px 4px 0px rgba(255, 255, 255, 0.06), inset 2px -2px 4px 0px #000000, -4px 4px 8px 0px #000000;
                    color: #FFFFFF;
                }
                span{
                    font-size: 12px;
                    width:85px;
                }
            }
        }
    }
}