.mobileDarkModeButton{
    position: fixed;
    left: 12px;
    top: 24px;
    z-index: 1;
    width: 44px;
    height: 44px;
    border-radius: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s ease;
    &.light{
        -webkit-box-shadow: 2px -2px 5px 0px #FFFFFF, inset -2px 2px 2px 0px #FFFFFF, inset 1px -1px 2px 0px #AAAAAA, -2px 2px 2px 0px #AAAAAA; 
        box-shadow: 2px -2px 5px 0px #FFFFFF, inset -2px 2px 2px 0px #FFFFFF, inset 1px -1px 2px 0px #AAAAAA, -2px 2px 2px 0px #AAAAAA;
        background-color: #F0F0F0;
    }
    &.dark{
        -webkit-box-shadow: inset 3px -3px 3px 0px rgba(255,255,255,0.06), inset -3px 5px 8px 5px #000000; 
        box-shadow: inset 3px -3px 3px 0px rgba(255,255,255,0.06), inset -3px 5px 8px 5px #000000;
        background-color: #272727;
    }
    
}