.desktopIntro {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transition: .2s ease;

    &.dark {
        background-color: #272727;
    }

    &.light {
        background-color: #F0F0F0;
    }

    .logoDesktop {
        opacity: 0.2;
        margin: 64px 0;
        height: 128px;
        width: auto;
    }

    h1 {
        font-size: 48px;
        line-height: 48px;
        width: fit-content;
        height: fit-content;
        margin-bottom: 64px;

        &.dark {
            color: #FFFFFF;
        }

        &.light {
            color: #8C8C8C;
        }
    }

    .podiums {
        position: fixed;
        bottom: 0;
        left: 50vw;
        transform: translateX(-50%);
        width: 450px;
        display: grid;
        height: fit-content;
        grid-template-columns: 138.5px 34.5px 104px 34.5px 138.5px;
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;

        .pod {
            width: 173px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            align-self: flex-end;
            transition: 0.2s ease;

            &.light {
                -webkit-box-shadow: 3px -3px 15px 0px #FFFFFF, inset -3px 3px 3px 0px #FFFFFF, inset 1px -1px 2px 0px #AAAAAA, -3px 4px 5px 0px #AAAAAA;
                box-shadow: 3px -3px 15px 0px #FFFFFF, inset -3px 3px 3px 0px #FFFFFF, inset 1px -1px 2px 0px #AAAAAA, -3px 4px 5px 0px #AAAAAA;
                background-color: #F0F0F0;
            }

            &.dark {
                -webkit-box-shadow: 3px -3px 15px 0px rgba(255, 255, 255, 0.06), inset -3px 3px 3px 0px rgba(255, 255, 255, 0.06), inset 1px -1px 2px 0px #000000, -3px 4px 5px 0px #000000;
                box-shadow: 3px -3px 15px 0px rgba(255, 255, 255, 0.06), inset -3px 3px 3px 0px rgba(255, 255, 255, 0.06), inset 1px -1px 2px 0px #000000, -3px 4px 5px 0px #000000;
                background-color: #272727;
            }

            &.firstP {
                height: calc(100vh - 530px);
                grid-area: 1 / 2 / 2 / 5;
            }

            &.secondP {
                height: calc(100vh - 590px);
                grid-area: 1 / 1 / 2 / 3;
            }

            &.thirdP {
                height: calc(100vh - 650px);
                grid-area: 1 / 4 / 2 / 6;
            }

            img {
                width: 60%;
                margin-top: 42px;
                opacity: 0.1;
                height: auto;
            }
        }

    }

    .nextButton {
        position: fixed;
        right: 32px;
        bottom: 32px;
        z-index: 1;
        width: fit-content;
        height: 50px;
        border-radius: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .2s ease;
        cursor: pointer;

        &.dark {
            -webkit-box-shadow: inset -3px 5px 8px 5px #000000, inset 3px -3px 3px 0px rgba(255, 255, 255, 0.06);
            box-shadow: inset -3px 5px 8px 5px #000000, inset 3px -3px 3px 0px rgba(255, 255, 255, 0.06);
            color: #FFFFFF;
        }

        &.light {
            -webkit-box-shadow: 2px -2px 5px 0px #FFFFFF, inset -2px 2px 2px 0px #FFFFFF, inset 1px -1px 2px 0px #AAAAAA, -2px 2px 2px 0px #AAAAAA;
            box-shadow: 2px -2px 5px 0px #FFFFFF, inset -2px 2px 2px 0px #FFFFFF, inset 1px -1px 2px 0px #AAAAAA, -2px 2px 2px 0px #AAAAAA;
            color: #8C8C8C;
        }

        span {
            margin: 0 29px;
            font-size: 12px;
            font-weight: 600;
        }

    }
}