.collierBorder {
    width: 42px;
    height: 42px;
    border-radius: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease-in;
    border: 1px solid rgba(255, 255, 255, 0);
    overflow: visible;

    @media screen and (max-width:850px) {
        width: 28px;
        height: 28px;
        border-radius: 14px;
    }
    @media screen and (max-width:600px) {
        width: 20px;
        height: 20px;
        border-radius: 10px;
    }

    &:hover {
        border: 1px solid rgba(255, 255, 255, 1);
    }

    &:not(:first-of-type) {
        margin-left: 27px;
        @media screen and (max-width:850px){
            margin-left: 9px;
        }
    }

    &.active {
        border: 1px solid rgba(255, 255, 255, 1);
    }

    .c {
        width: 24px;
        height: 24px;
        border-radius: 12px;
        -webkit-box-shadow: -4px 4px 4px 0px rgba(0, 0, 0, 0.2);
        box-shadow: -4px 4px 4px 0px rgba(0, 0, 0, 0.2);

        @media screen and (max-width:850px) {
            width: 16px;
            height: 16px;
            border-radius: 8px;
        }

        @media screen and (max-width:600px) {
            width: 11px;
            height: 11px;
            border-radius: 6px;
        }

        &.blue {
            background: radial-gradient(circle at 60% 35%, rgba(106, 104, 250, 1) 0%, rgba(70, 68, 228, 1) 36%, rgba(70, 68, 228, 1) 68%, rgba(8, 6, 145, 1) 100%);
        }

        &.green {
            background: radial-gradient(circle at 60% 35%, rgba(141, 226, 162, 1) 0%, rgba(96, 198, 121, 1) 36%, rgba(80, 177, 104, 1) 68%, rgba(16, 133, 45, 1) 100%);
        }

        &.pink {
            background: radial-gradient(circle at 60% 35%, rgba(255, 162, 251, 1) 0%, rgba(242, 112, 229, 1) 36%, rgba(233, 86, 227, 1) 68%, rgba(179, 34, 173, 1) 100%);
        }

        &.red {
            background: radial-gradient(circle at 60% 35%, rgba(253, 138, 152, 1) 0%, rgba(239, 86, 105, 1) 36%, rgba(234, 51, 73, 1) 68%, rgba(199, 19, 41, 1) 100%);
        }

        &.yellow {
            background: radial-gradient(circle at 60% 35%, rgba(255, 217, 128, 1) 0%, rgba(245, 198, 88, 1) 36%, rgba(240, 188, 64, 1) 68%, rgba(196, 144, 22, 1) 100%);
        }

        &.purple {
            background: radial-gradient(circle at 60% 35%, rgba(126, 74, 225, 1) 0%, rgba(63, 26, 133, 1) 36%, rgba(48, 20, 101, 1) 68%, rgba(33, 6, 86, 1) 100%);
        }

        &.cyan {
            background: radial-gradient(circle at 60% 35%, rgba(214, 255, 254, 1) 0%, rgba(167, 239, 237, 1) 36%, rgba(138, 216, 214, 1) 68%, rgba(94, 187, 185, 1) 100%);
        }

        &.grey {
            background: radial-gradient(circle at 60% 35%, rgba(230, 230, 230, 1) 0%, rgba(175, 186, 181, 1) 36%, rgba(143, 155, 149, 1) 68%, rgba(107, 123, 115, 1) 100%);
        }
        &.white{
            background: radial-gradient(circle at 60% 35%, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 36%, rgba(240,240,240,1) 68%, rgba(158,158,158,1) 100%);
        }
        &.black{
            background: radial-gradient(circle at 60% 35%, rgba(98,98,98,1) 0%, rgba(58,58,58,1) 36%, rgba(44,44,44,1) 68%, rgba(0,0,0,1) 100%);
        }
    }
}