.desktopDarkModeButton{
    position: fixed;
    right: 32px;
    top: 32px;
    z-index: 1;
    width: fit-content;
    height: 50px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s ease;
    cursor: pointer;
    &.dark {
        -webkit-box-shadow: inset -3px 5px 8px 5px #000000, inset 3px -3px 3px 0px rgba(255, 255, 255, 0.06);
        box-shadow: inset -3px 5px 8px 5px #000000, inset 3px -3px 3px 0px rgba(255, 255, 255, 0.06);
        color: #FFFFFF;
    }
    &.light {
        -webkit-box-shadow: 2px -2px 5px 0px #FFFFFF, inset -2px 2px 2px 0px #FFFFFF, inset 1px -1px 2px 0px #AAAAAA, -2px 2px 2px 0px #AAAAAA;
        box-shadow: 2px -2px 5px 0px #FFFFFF, inset -2px 2px 2px 0px #FFFFFF, inset 1px -1px 2px 0px #AAAAAA, -2px 2px 2px 0px #AAAAAA;
        color: #8C8C8C;
    }
    span{
        margin: 0 29px;
        font-size: 16px;
        font-weight: 400;
    }
    .link{
        display:flex;
    }
}