.bandeauContainer{
    width: 0;
    height: 0;
    overflow: visible;

    .bandeauImg{
        position: absolute;
        top:-6px;
        left: 50vw;
        height: 30vh;
        width: auto;
        transform: translateX(-50%);
    }
    .bandeauOmbre{
        position: absolute;
        top:0px;
        left: 50vw;
        height: 30vh;
        width: auto;
        transform: translateX(calc(-50% - 6px));
    }
}