.presentoirContainer {
    width: 100%;
    height: 50%;
    overflow: visible;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .presentoir {
        border-radius: 50%;
        transition: .2s ease;
        margin: 0 32px;
        &.dark {
            -webkit-box-shadow: 8px -8px 16px 0px rgba(255,255,255,0.06), inset -8px 8px 8px 0px rgba(255,255,255,0.06), inset 4px -4px 8px 0px #000000, -8px 8px 16px 0px #000000;
            box-shadow: 8px -8px 16px 0px rgba(255,255,255,0.06), inset -8px 8px 8px 0px rgba(255,255,255,0.06), inset 4px -4px 8px 0px #000000, -8px 8px 16px 0px #000000;
            background-color: #272727;
        }

        &.light {
            -webkit-box-shadow: 8px -8px 16px 0px #FFFFFF, inset 4px -4px 8px 0px #AAAAAA, inset -8px 8px 8px 0px #FFFFFF, -8px 8px 16px 0px #AAAAAA;
            box-shadow: 8px -8px 16px 0px #FFFFFF, inset 4px -4px 8px 0px #AAAAAA, inset -8px 8px 8px 0px #FFFFFF, -8px 8px 16px 0px #AAAAAA;
            background-color: #F0F0F0;
        }
    }

    .canvasContainer {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
    }
}