.parametersSection{
    position: relative;
    pointer-events: all;
    overflow: visible;
    .mainCategories{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: fit-content;
        height: 60px;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        background-color: rgba(255, 255, 255, 0.60);
        padding: 0 54px;
        z-index: 1;
        .mainCategorieButton:not(:last-of-type){
            margin-right: 70px;
        }
    }
}